.pbox {
  background-color: rgb(17, 24, 39);
  font-size: calc(14px* var(--body-fontSize, 1));
  line-height: calc(21px* var(--body-fontHeight, 1));
  border-radius: 25px;
  text-align: center;
  width: fit-content;
  padding: 8px;
  margin-left: 30px;
}

.services-section h2 {
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.04em;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #4a4a4a;
  margin-top: 8px;
  margin-bottom: 0px;
}

.services-section p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: rgb(224, 178, 38);
}

.service-section {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.service {
  margin: 0 -10px;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #fff;
}



.service:nth-child(2) {
  transform: scale(1.1); /* Make the middle card slightly bigger */
  z-index: 1; /* Bring the middle card to the front */
}

.service:hover {
  border-color: #000;
}

.service img {
  max-width: 80%;
  object-fit: cover;
  aspect-ratio: 1.33333 / 1;
  width: 100%;
  border-radius: 8px;
}

.service h3 {
  font-size: 1.5rem;
  color: #4a4a4a;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.service h1 {
  font-size: 1.2rem;
  color: #4a4a4a;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.service button {
  padding: 10px 20px;
  background-color: rgb(17, 24, 39);
  color: rgb(224, 178, 38);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.service button:hover {
  background-color: rgb(17, 24, 39);
}

@media screen and (max-width: 768px) {
  .service-section {
    flex-direction: column; /* Arrange the cards in a column */
    align-items: center; /* Center-align the cards */
  }

  .service {
    margin: 10px 0; /* Add vertical margin to separate the cards */
  }

  .service:nth-child(2) {
    transform: none; /* Remove any scale transformation on the middle card */
    z-index: auto; /* Reset the z-index */
  }
}
