.services-section h2 {
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.04em;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #4a4a4a;
  margin-top: 8px;
  font-weight: 500;
}

.services-section p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: rgb(224, 178, 38);
}


.service button {
  padding: 10px 20px;
  background-color: rgb(17, 24, 39);
  color: rgb(224, 178, 38);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.service button:hover {
  background-color: rgb(17, 24, 39);
}